.ControlZone  {
 box-sizing: border-box;
 background: url('../css/Images/Img3.jpg') no-repeat center center fixed;
 -webkit-background-size: auto;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}

.tabset, .tabs-top, .fd-grid, .container-fluid {
    background: rgba(233, 233, 233, 0.5) !important;
    backdrop-filter: blur(0px) !important;
    border-radius: 4px !important;
}

/* HANDSONTABLE CSS */
.ht_master .wtHolder{
  overflow-x: auto !important;
}

.handsontable .ErrorRow{
  background: #ed4949;
}

.handsontable .TransparentRow {
  background: transparent;
}

.htMiddle {
  text-align: center;
  vertical-align: middle;
}
/* END HANDSON CSS */

