<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
    
    "~sitecollection/FormServerTemplates/SAEI_DDS_Form.xsn"
-->
<configuration>
	<appSettings>
		<add key="SubmitFormUrl" value="~sitecollection/FormServerTemplates/Generic_CDS.xsn"/>
		<add key="ReviewFormUrl" value="~sitecollection/FormServerTemplates/Generic_CRS.xsn"/>
		<add key="SmtpServer" value="smtprelay.darbeirut.com"/>
		<add key="MasterPageUrl" value="~/_layouts/15/PCWMasterPage/Dar2.master"/>
		<add key="InternalHost" value="4ce.dar.com"/>
		<add key="ExternalHost" value="4cex.dar.com"/>
		<add key="pfxFilePath" value="C:\Program Files\Common Files\Microsoft Shared\Web Server Extensions\15\TEMPLATE\LAYOUTS\PCW\General\EForms\KAIA.PFX"/>
		<add key="pfxFilePassword" value="KAIA@321"/>
		<add key="loaderUrl" value="/_layouts/15/PCW/General/CDS/Images/loading1.gif"/>
  </appSettings>
	<connectionStrings/>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
		<customErrors mode="Off"/>
        -->
		<!--<httpModules>
      <add name="Session" type="System.Web.SessionState.SessionStateModule"/>
    </httpModules>-->
		<compilation debug="true" batch="false">
			<assemblies>
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="wnvxls, Version=2.1.0.0, Culture=neutral, PublicKeyToken=5b5f377bc08a4d32"/>
				<add assembly="System.Data.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="Microsoft.SharePoint, Version=14.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>
				<add assembly="FileNameChecker, Version=1.0.0.0, Culture=neutral, PublicKeyToken=20AC1053DF5DDAF5"/>
				<add assembly="wnvhtmlconvert, Version=6.0.0.26135, Culture=neutral, PublicKeyToken=5B5F377BC08A4D32"/>
				<add assembly="Microsoft.SharePoint.Linq, Version=14.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>
				<add assembly="itextsharp, Version=5.5.6.0, Culture=neutral, PublicKeyToken=8354AE6D2174DDCA"/>
      </assemblies>
		</compilation>
		<customErrors mode="Off"></customErrors>
	</system.web>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="1">
				<providerOption name="CompilerVersion" value="v3.5"/>
				<providerOption name="WarnAsError" value="false"/>
			</compiler>
		</compilers>
	</system.codedom>
</configuration>
